:root {
  --black: #171321;
  --darkblue: #0d314b;
  --plum: #4b0d49;
  --hotmagenta: #ff17e4;
  --magenta: #e310cb;
  --aqua: #86fbfb;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --mono: "Oxygen Mono", monospace;
  --sans: "Oxygen", san-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--sans);
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size);
}

a {
  color: var(--magenta);
}

a:hover {
  color: var(--hotmagenta);
  text-decoration: none;
}

#intro {
  padding-bottom: 10rem;
}

#intro p {
  font-size: 1rem;
  line-height: 1.5;
}

#intro .name {
  font-family: var(--mono);
}

.name span {
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--aqua);
  display: block;
}

#intro h2 {
  font-size: 4rem;
  font-weight: normal;
}

#contact {
  background-color: var(--plum);
  text-align: center;
  padding: 3rem 0;
  width: 400px;
  margin: 0 auto;
}

#contact p:last-of-type {
  margin-top: 3rem;
}

.navigation {
  font-family: var(--mono);
  font-size: 80%;
  padding: 1rem;
}

.navigation h1 a {
  font-family: var(--sans);
}

.navigation ul {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.navigation ul li:first-child {
  flex-basis: 100%;
  text-align: center;
}

.navigation a {
  color: var(--white);
  text-decoration: none;
  display: block;
}

.navigation a:hover {
  color: var(--magenta);
}

.navigation a svg {
  width: 22px;
  height: auto;
  display: inline-block;
  fill: var(--aqua);
  font-size: 150%;
}

.navigation a:hover svg {
  fill: currentColor;
}
