:root {
  --black: #171321;
  --darkblue: #0d314b;
  --plum: #4b0d49;
  --hotmagenta: #ff17e4;
  --magenta: #e310cb;
  --aqua: #86fbfb;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --mono: "Oxygen Mono", monospace;
  --sans: "Oxygen", san-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--sans);
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size);
}

a {
  color: var(--magenta);
}

a:hover {
  color: var(--hotmagenta);
  text-decoration: none;
}

.section-plum {
  background-color: var(--plum);
}

.section-blue {
  background-color: var(--darkblue);
}

.gradient {
  background: linear-gradient(
    90deg,
    rgba(255, 23, 228, 1) 0%,
    rgba(134, 251, 251, 1) 100%
  );
  height: 2px;
}

#intro {
  padding: 4rem 1rem 10rem;
  max-width: 1200px;
  margin: 0 auto;
}

#intro p {
  font-size: 1rem;
  line-height: 1.5;
}

#intro .name {
  font-family: var(--mono);
}

#intro h2,
#contact h2 {
  margin-bottom: 1rem;
}

.name span {
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--aqua);
  display: block;
}

#intro h2 {
  font-size: 4rem;
  font-weight: normal;
}

#projects {
  padding: 4rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

#projects h2 {
  font-size: 2.5rem;
  margin-bottom: calc(2.5rem * 1.5);
}

#projects h3 {
  color: var(--aqua);
}

#projects h4 {
  font-size: 1rem;
  font-family: var(--mono);
}

.blackbox {
  padding: 1rem;
  border-radius: 10px;
  color: white;
  background-color: var(--black);
  font-size: 1rem;
  line-height: 1.5;
  margin: 1rem 0;
}
#projects ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1rem;
}

#projects img {
  margin: 0 0 4rem;
  padding: 1rem;
  border-left: 1px solid var(--aqua);
  border-top: 1px solid var(--aqua);
  border-radius: 25px;
  width: 100%;
  height: auto;
}

#contact {
  text-align: center;
  padding: 3rem 0;
  width: 400px;
  margin: 0 auto;
  line-height: 1.5;
}

#contact p:last-of-type {
  margin-top: 3rem;
}

.navigation {
  font-family: var(--mono);
  font-size: 80%;
  padding: 1rem;
}

.navigation h1 a {
  font-family: var(--sans);
}

.navigation ul {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.navigation ul li:first-child {
  flex-basis: 100%;
  text-align: center;
}

.navigation a {
  color: var(--white);
  text-decoration: none;
  display: block;
}

.navigation a:hover {
  color: var(--magenta);
}

.navigation a svg {
  width: 22px;
  height: auto;
  display: inline-block;
  fill: var(--aqua);
  font-size: 150%;
}

.navigation a:hover svg {
  fill: currentColor;
}

.button:link,
.button:visited {
  background-color: var(--magenta);
  padding: 0.5rem;
  border-radius: 5px;
  color: #fff;
  font-family: var(--mono);
  text-decoration: none;
}

.button:hover,
.button:active {
  color: var(--white) !important;
  background-color: var(--hotmagenta);
}

.footer {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 4rem 0;
  line-height: 1.5;
}

.footer ul {
  list-style: none;
  margin: 2rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 3rem;
  font-size: 3rem;
}

.footer ul li {
  display: inline-block;
}

.footer svg {
  width: 24px;
  height: auto;
  fill: var(--magenta);
}

.footer a:hover svg {
  cursor: pointer;
  fill: var(--hotmagenta);
}

@media (min-width: 800px) {
  article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
  }

  #projects img {
    grid-column: 1 / 6;
    grid-row: 1 / 2;
  }

  .text {
    grid-column: 5 / 11;
    grid-row: 1 / 2;
    order: 2;
    text-align: right;
  }

  #projects ul {
    justify-content: flex-end;
  }

  #projects .reverse .text {
    grid-column: 1 / 7;
    order: 2;
    text-align: left;
  }
  #projects .reverse img {
    grid-column: 6/11;
    grid-row: 1/2;
  }
  #projects .reverse ul {
    justify-content: flex-start;
  }
}

@media (min-width: 850px) {
  .navigation {
    max-width: 1200px;
    margin: 0 auto;
  }

  .navigation ul li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}
